@import '../Input/base.styl'

// Size
list-height = 150px
list-width = 100px

// Border
// #Group
list-border-color = color-active
list-border-style = input-border-style
list-border-width = input-border-width
list-border = list-border-width list-border-style list-border-color

// Arrow
arrow-border-color = #fff
arrow-border-width = 6px
arrow-border-style = solid
arrow-border = arrow-border-width arrow-border-style arrow-border-color