@import 'base.styl'

reDirect(direct)
	if direct == down
		return top
	if direct == up
		return bottom
	if direct == left
		return right
	else
		return left

$arrow-base
	position absolute
	right 5px
	top 13px
	height 0
	width 0
	border arrow-border-width arrow-border-style transparent
	content ' '
	cursor pointer

$t15
	top 15px

.input-group.dropdown
	position relative

// Arrow System
.dropdown
	for item in (suffix arrow arrow-left arrow-right arrow-up arrow-down)
		label.{item}
			&:after
			&:before
				@extend $arrow-base
	label.arrow
		for item in (up down left right)
			&.{item}
				_item = reDirect(item)
				&:after
				&:before
					border-{_item} arrow-border
				&:before
					border-{_item}-color #d5d5d5
	for item in (up down left right)
		label.arrow-{item}
			@extend .dropdown label.arrow.{item}
	label.suffix
		@extend .dropdown label.arrow.left
	&.big
		for item in (suffix arrow arrow-left arrow-right arrow-up arrow-down)
			label.{item}
				&:after
				&:before
					@extend $t15
	&:hover
		for item in (up down left right)
			label.arrow.{item}
				&:after
				&:before
					_item = reDirect(item)
					border-{_item}-color color-active
		label.suffix
			@extend .dropdown:hover label.arrow.left
		for item in (up down left right)
			label.arrow-{item}
				@extend .dropdown:hover label.arrow.{item}
					
// ListView
.dropdown
	ul.dropdown-list
		position absolute
		left default-width
		top 0 - list-border-width
		max-height list-height
		width list-width
		background-color #fff
		border list-border
		display none
		overflow auto
		> li
			padding 5px 15px
			text-align left
			cursor pointer
			&.active
			&:hover
				background color-active
				color #fff
	&.big
		ul.dropdown-list
			left input-big-width
	&.full
		ul.dropdown-list
			left 0 - list-border-width
			top input-height
			max-width 100%
			width 100%
		&.big ul.dropdown-list
			top input-big-height - 10px
	&.no-hover.open
	&:not(.no-hover):hover
		height input-height
		overflow visible
		z-index 999
		ul.dropdown-list
			display block
		input[type="text"]
		input[type="password"]
			padding-bottom 0
			padding-top 0
	&.big.no-hover.open
	&.big:not(.no-hover):hover
		height input-big-height - 10px
		input[type="text"]
		input[type="password"]
			padding-top 3px
		