@import '../Core/base.styl'

// Color
card-bg = #fff
card-success-color = #3dca33
card-info-color = #0087cc
card-warning-color = #e5de33
card-error-color = #e21d27

flag-bg = #fff
flag-success-color = #3dca33
flag-info-color = #0087cc
flag-warning-color = #e5de33
flag-error-color = #e21d27


// Size
card-height = 36px
card-width = 320px

card-big-height = 50px
card-big-width = 384px

flag-height = 20px
flag-width = 20px

// Border
card-border-color = border-color
card-border-style = border-style
card-border-width = 1px
card-border = card-border-width card-border-style card-border-color

card-border-success = card-border-width card-border-style card-success-color
card-border-info = card-border-width card-border-style card-info-color
card-border-warning = card-border-width card-border-style card-warning-color
card-border-error = card-border-width card-border-style card-error-color

flag-border-color = border-color
flag-border-style = border-style
flag-border-width = border-width
flag-border = flag-border-width flag-border-style flag-border-color