// Window Size Class
mw-lg = 1200px
mw-md = 940px
mw-sm = 760px
mw-xs = 310px

// Container Class
container-pl = 15px
container-pr = 15px

// Color Class
color-active = #0087cc
color-default = #8d8d8d
color-warning = red

// Font Class
font-size = 18px
font-family = '微软雅黑'

// Border Class
border-color = #d5d5d5
border-style = solid
border-width = 1px
border = border-width border-style border-color