// Window Size Class
mw-lg = 1200px
mw-md = 940px
mw-sm = 760px
mw-xs = 310px

// Container Class
container-pl = 15px
container-pr = 15px

// Color Class
color-active = #0087cc
color-warning = #f00 #ff0000
color-font = #8d8d8d

// Font Class
font-size = 18px
font-family = '微软雅黑'