@import 'base.styl'
@import 'factory.styl'

.container
	position relative
	margin-left auto
	margin-right auto
	padding-left 0
	padding-right 0
	width 100%
	max-width mw-xs
	&.full
		margin-left 0
		margin-right 0
		max-width 100%

container-base()
	padding-left container-pl
	padding-right container-pr

hide-factory()

show-factory()

.hide
.hidden
	display none !important

.show
	display block !important
	table&
		display table !important
	tr&
		display table-row !important
	th&
	td&
		display table-cell !important

@media (min-width mw-lg) and (max-width mw-md)
	.container
		container-base()
		max-width mw-lg - container-pl - container-pr
	
	hide-factory('lg')
	show-factory('lg')
	
@media (min-width mw-md) and (max-width mw-sm)
	.container
		container-base()
		max-width mw-md - container-pl - container-pr
	
	hide-factory('md')
	show-factory('md')
	
@media (min-width mw-sm) and (max-width mw-xs)
	.container
		container-base()
		max-width mw-sm - container-pl - container-pr
	
	hide-factory('sm')
	show-factory('sm')

@media (min-width mw-xs)
	hide-factory('xs')
	show-factory('xs')
	