@import 'base.styl'

html, body
	margin 0
	padding 0

a
	text-decoration none

ul
	margin 0
	padding 0
	list-style-type none

img
	border-width 0

table
	border 0
	border-spacing 0

td, th
	margin-left 5px
	margin-right 5px
	min-width 80px
	font-size 14px
	font-weight normal
	text-align center

input[type="text"]
input[type="password"]
	padding 5px 15px
	height 100%
	width 100%
	color #aaa
	text-align right
