@import '../Core/base.styl'

// Size
btn-height = 36px
btn-width = 108px
btn-height-big = 50px
btn-width-big = 384px

// Box
btn-margin-bottom = 0
btn-margin-top = 5px
btn-padding-top = 10px
btn-padding-bottom = (btn-padding-top - 3px)

// Color
btn-bg = color-active
btn-color-font = #fff
btn-color-font-disabled = color-default

// Font
btn-font-color = btn-color-font
btn-font-family = font-family
btn-font-size = font-size

// Border
btn-border-color = border-color
btn-border-style = border-style
btn-border-width = border-width
btn-border = btn-border-width btn-border-style btn-border-color
// Border Hover
btn-border-color-hover = color-active
btn-border-style-hover = btn-border-style
btn-border-width-hover = btn-border-width
btn-border-hover = btn-border-width-hover btn-border-style-hover btn-border-color-hover
