@import '../Core/base.styl'

// Toast Item
toast-pt = 12px
toast-pb = 12px

toast-height = 40px
toast-width = 100%

toast-font-size = 16px
toast-font-color = #ffffff

// Toast Type

toast-bg-success = #3dca33
toast-bg-info = #0087cc
toast-bg-warning = #e5de33
toast-bg-error = #e21d27
