@import 'base.styl'

.toast
	position fixed
	left 0
	top 0
	width 100%
	z-index 9999
	& > *
		margin 0
		padding-bottom toast-pb
		padding-top toast-pt
		width toast-width
		color toast-font-color
		font-size toast-font-size
		text-align center
		&.success
			background-color toast-bg-success
		&.info
			background-color toast-bg-info
		&.warning
			background-color toast-bg-warning
		&.error
			background-color toast-bg-error