@import '../Core/base.styl'

// Size
hr-width = 108px
hr-width-big = 384px

// Color
hr-color = #eee

// Border
hr-border-color = hr-color
hr-border-style = solid
hr-border-width = 1px
hr-border = hr-border-width hr-border-style hr-border-color