@import 'base.styl'

.hr
	border-bottom hr-border
	background-color #eee
	color #eee
	height 1px
	width 100%
	max-height @height
	max-width hr-width
	&.big
		max-width hr-width-big
	&.full
		max-width 100%