@import 'base.styl'
@import 'factory.styl'

// Row
$row-box
	box-sizing border-box
	
.row
	margin-left row-ml
	margin-right row-mr
	@extend $row-box
	> *
		@extend $row-box
	.container > &
		padding-left row-pl
		padding-right row-pr
	&:before
	&:after
		display table
		content ' '
	&:after
		clear both

// Col
$col-base
	position relative
	padding-left col-pl
	padding-right col-pr
	min-height 1px
	width 100%
		
$col-base-xs
	float left
	
for num in col-arr
	xs-width(num)
	
@media (min-width mw-lg)
	$col-base-lg
		float left
		
	for num in col-arr
		lg-width(num)

@media (min-width mw-md) and (max-width mw-lg)
	$col-base-md
		float left
		
	for num in col-arr
		md-width(num)
		
@media (min-width mw-sm) and (max-width mw-md)
	$col-base-sm
		float left
		
	for num in col-arr
		sm-width(num)