@import '../Core/base.styl'

// Color
label-color = #5c5b5b

input-bg = #fff
input-warning-color = color-warning
input-active-color = color-active

// Box
label-margin-bottom = 7px
label-margin-top = 9px

label-suffix-margin-left = -20px
label-suffix-margin-right = 10px

input-margin-top = 25px
input-padding-left = 10px

input-big-padding-left = 20px

content-margin-right = 25px
content-padding-bottom = 4px
content-padding-left = 0
content-padding-right = 0
content-padding-top = 9px

content-big-padding-bottom = 0
content-big-padding-top = 3px

// Size
default-width = 320px
input-height = 36px
input-width = 320px - 10px
input-big-height = 50px
input-big-width = 384px

content-height = input-height
content-width = default-width - 115px - 5px
content-big-height = input-big-height
content-big-width = input-big-width - 24px

// Border
// #Group
input-border-color = border-color
input-border-style = border-style
input-border-width = border-width
input-border = input-border-width input-border-style input-border-color
// #Hover
input-hover-border-color = color-active
input-hover-border-style = border-style
input-hover-border-width = border-width
input-hover-border = input-hover-border-width input-hover-border-style input-hover-border-color
// #Warning
input-warning-border-color = color-warning
input-warning-border-style = border-style
input-warning-border-width = border-width
input-warning-border = input-warning-border-width input-warning-border-style input-warning-border-color

// Font
label-font-family = font-family
label-font-size = font-size - 2px

label-big-font-size = font-size
