@import 'base.styl'

.input-group
	margin-top 25px
	height 100%
	width 100%
	max-height input-height
	max-width input-width
	background-color input-bg
	border input-border
	overflow hidden
	label
		margin-bottom label-margin-bottom
		margin-left label-margin-left
		margin-top label-margin-top
		color label-color
		font-family label-font-family
		font-size label-font-size
		float left
		&.suffix
			margin-left label-suffix-margin-left
			margin-right label-suffix-margin-right
			float right
			& + input
				margin-left label-suffix-margin-left

	input[type='text']
	input[type='password']
		margin-right content-margin-right
		padding-bottom content-padding-bottom
		padding-left content-padding-left
		padding-right content-padding-right
		padding-top content-padding-top
		max-height content-height
		max-width content-width
		border-width 0
		float right
		font-size font-size
		outline none
	&.big
		max-height input-big-height
		max-width input-big-width
		input
			padding-bottom content-big-padding-bottom
			padding-top content-big-padding-top
			height content-big-height
			width content-big-width
		label
			margin-left input-big-margin-left
			font-size label-big-font-size
	&.full
		max-width 100%
	&.warning
		border input-warning-border
		label
		input[type='text']
		input[type='password']
			color input-warning-color
	&:hover
		border input-hover-border
		label
		input[type='text']
		input[type='password']
			color input-active-color

@media (min-width mw-xs) and (max-width mw-sm)
	.input-group.big
		max-width 100%
