@import '../Core/base.styl'

// Size
item-height = 36px
item-width = 320px

item-big-height = 50px
item-big-width = 384px

// Border
// #Group
item-border-color = border-color
item-border-style = border-style
item-border-width = border-width
item-border = item-border-width item-border-style item-border-color
// #Hover
item-hover-border-color = color-active
item-hover-border-style = border-style
item-hover-border-width = border-width
item-hover-border = item-hover-border-width item-hover-border-style item-hover-border-color